doctype html
html 
    head 
        title Artist | About
        style 
            include style1.css 
        
        body 
            div#logo
                img(src="https://thumbs.dreamstime.com/b/artist-text-logo-paint-brush-black-colour-flat-minimal-vector-logo-style-artist-text-logo-paint-brush-black-164108116.jpg", alt="logo")
            nav#navbar
                ul 
                        
                    li#home #[a(href="home2") Home]
                    li#about #[a(href="about2") About]
                    li#contact #[a(href="/contact2") Contact Us]
                    li#login #[a(href="/user") User]
            div.content
                p Hi I am Tarun Siddardha I am studying Integrated Mtech in VIT-AP University. Recently we have started a Youtube Channel named 
                strong  "Chitra Lahari".
                p In that channel we are uploading the videos on how to learn drawing easily and simple drawings
            footer#footer 
                p  Copyrights © 2021 Artist.com | All rights reserved
            
            