doctype html
html 
    head 
        title Artist | Home
        style 
            include style.css 
        
        body 
            div#logo
                img(src="https://thumbs.dreamstime.com/b/artist-text-logo-paint-brush-black-colour-flat-minimal-vector-logo-style-artist-text-logo-paint-brush-black-164108116.jpg", alt="logo")
            nav#navbar
                ul 
                        
                    li#home #[a(href="/home2") Home]
                    li#about #[a(href="/about2") About]
                    li#contact #[a(href="/contact2") Contact Us]
                    li#login #[a(href="/user") User]
            div#body
                h1#artistheading Artist 
                //- a(href="/yt") Youtuube links to leaarn drawing 
                p For basics of the drawing you have to learn how to draw a round circle, semi-circle. And you have to get a free hand. For that we are providing a youtube link in that video you will learn how to draw a circle.
                a#firstytlink.link(href="https://youtu.be/ewMksAbgdBI") DRAWING-1 
                p From now you will learn the simple drawings. I will recomend you the best youtube channel to learn simple drawings 
                h3 Channel: 
                a#channel.link(href="https://www.youtube.com/channel/UCVCtnCRzLV8D1nirm5_HIXg/featured") Channel link 
                p In that channel there are so many drawings. I will recomend you the best drawings 
                a#vijay.link(href="https://youtu.be/1UAFJ9gqq8c") Vijay Devarakonda Drawing 
                br
                br
                br
                a#radha.link(href="https://youtu.be/N9UlMEhlNy8") Radhe Radhe 
                br
                br
                br
                a#tirumala.link(href="https://youtu.be/KFfbyIOmZcQ") Tirumala Vaibhavam 
                p#loginnote  Log In to see our premium arts!!!!! 
            footer#footer 
                p  Copyrights © 2021 Artist.com | All rights reserved
